@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src:
		local('Raleway'),
		local('Raleway-Regular'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2 */
		url('Raleway_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISQ.woff */
		url('Raleway_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISw.eot */
		url('Raleway_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptug8zYS_SKggPNyC0ISA&skey=30a27f2564731c64&v=v14#Raleway */
		url('Raleway_400.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf */
		url('Raleway_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src:
		local('Raleway Medium'),
		local('Raleway-Medium'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2 */
		url('Raleway_500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPBg.woff */
		url('Raleway_500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPBA.eot */
		url('Raleway_500.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwN4rWqZPBw&skey=91a0260e01fd7629&v=v14#Raleway */
		url('Raleway_500.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf */
		url('Raleway_500.ttf') format('truetype');
}
